body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


/***************/

@font-face {
  font-family: 'IndiePress';
  src: local('IndiePress'), url(../src/assets/Indiepress-KEGA.otf) format('opentype');
}

@font-face {
  font-family: 'Team401';
  src: local('Team401'), url(../src/assets/Team401.ttf) format('truetype');
}

@font-face {
  font-family: 'Aurelie';
  src: local('Aurelie'), url(../src/assets/AurelieSmith.otf) format('opentype');
}

@font-face {
  font-family: 'PressStart';
  src: local('PressStart'), url(../src/assets/PressStart2P.ttf) format('truetype');
}


